<!DOCTYPE html>
<html>
<head>
 <title>All Products</title>
 <meta charset="UTF-8" />
 <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div class="page-content">
        <h1>All Products</h1>
    </div>
</body>
</html>
