<div class="box">
 <h3>Grid</h3>
 <table class="table w-100">
  <thead>
   <tr>
    <th>Sl. No</th>
    <th>Name</th>
   </tr>
  </thead>
  <tbody>
   <tr>
    <td>1</td>
    <td>One</td>
   </tr>
   <tr>
    <td>2</td>
    <td>Two</td>
   </tr>
  </tbody>
 </table>

</div>