@model Person

<!DOCTYPE html>
<html>
<head>
 <title>Person Details</title>
 <meta charset="UTF-8" />
 <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
 <div class="page-content">
  <h1>Person Details</h1>
  <div class="box w-50">
   <h3>@Model.Name</h3>
   <table class="table w-100">
    <tbody>
     <tr>
      <td>Gender</td>
      <td>@Model.PersonGender</td>
     </tr>
     <tr>
      <td>Date of Birth</td>
      <td>@Model.DateOfBirth?.ToString("MM/dd/yyyy")</td>
     </tr>
    </tbody>
   </table>
  </div>

  <a href="/home">Back to persons</a>
 </div>

 @{
     //ArrayList
 }
</body>
</html>