@{
 Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
 <meta name="viewport" content="width=device-width" />
 <title>@ViewData["Title"]</title>
 <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
 <div class="container">
  <div class="navbar">
   <div class="navbar-brand">AspNet Core App</div>
   <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about-company">About</a></li>
    <li><a href="/contact-support">Contact</a></li>
    <li><a href="/products">All Products</a></li>
    <li><a href="/search-products">Search Products</a></li>
    <li><a href="/order-product">Order Product</a></li>
   </ul>
  </div>

  <div class="page-content">
   @RenderBody()
  </div>

  <div class="footer-content">
      @RenderSection("footer_section", false)
  </div>
 </div>

</body>
</html>
