@{
 Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div class="flex full-size-height">
        <div class="flex-1 grey-back">Sidebar</div>
        <div class="flex-3 white-back">
            @RenderBody()
        </div>
    </div>
</body>
</html>
