@using ViewsExample.Models
@{
    string appTitle = "Asp.Net Core Demo App";
    Person person = new Person() { Name = "John", DateOfBirth = null };
    //Convert.ToDateTime("2004-07-01")
}
<!DOCTYPE html>
<html>
    <head>
        <title>@appTitle</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <h1>Welcome</h1>
        <h2>Hello @person.Name</h2>
        @if (person.DateOfBirth.HasValue)
        {
            double age = Math.Round((DateTime.Now - person.DateOfBirth).Value.TotalDays / 365.25);
        <h3>@age years old</h3>
    }
    else
    {
        <h3>Date of birth is unknown</h3>
    }

    </body>
</html>
