<h2>Cities</h2>

<div class="flex">
  <div class="flex-1 w-50">

    <div class="table-container">
      <table class="table w-100" [formGroup]="putCityForm">

        <thead>
          <tr>
            <th>#</th>
            <th>City Name</th>
            <th></th>
          </tr>
        </thead>

        <tbody formArrayName="cities">
          <tr *ngFor="let city of cities; let i = index">
            <td>{{i+1}}</td>

            <td [formGroupName]="i">
              <input type="text" formControlName="cityName" [ngClass]="{ 'border-less-textbox': city.cityID != editCityID, 'form-input': city.cityID == editCityID }" [disableControl]="city.cityID != editCityID" />
            </td>

            <td style="width:200px">
              <button class="button button-blue-back" (click)="editClicked(city)" *ngIf="city.cityID != editCityID" type="button">Edit</button>

              <button class="button button-blue-back" (click)="updateClicked(i)" *ngIf="city.cityID == editCityID" type="submit">Update</button>

              <button class="button button-red-back ml" (click)="deleteClicked(city, i)" *ngIf="city.cityID != editCityID" type="button">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>


  <!-- right box begins -->
  <div class="flex-1 w-50">

    <div class="form-container">
      <h3>Create City</h3>

      <form [formGroup]="postCityForm" (ngSubmit)="postCitySubmitted()">

        <!-- City Name-->
        <div class="form-field flex">
          <div class="w-25">
            <label for="CityName" class="form-label pt">City Name</label>
          </div>

          <div class="flex-1">
            <input type="text" class="form-input" formControlName="cityName" />

            <span class="text-red" *ngIf="(postCity_CityNameControl.touched || isPostCityFormSubmitted) && (postCity_CityNameControl.errors?.['required'])">City Name can't be blank</span>
          </div>
        </div>


        <div class="form-field flex">
          <div class="w-25"></div>

          <div class="flex-1">
            <button class="button button-green-back">Create</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- right box ends -->
</div>



