<!DOCTYPE html>
<html>
    <head>
        <title>Configuration Demo</title>
        <meta charset="utf-8" />
        <link href="~/StyleSheet.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            <h1>Home</h1>

            <div class="box">
                <div>@ViewBag.ClientID</div>
                <div>@ViewBag.ClientSecret</div>
            </div>
        </div>

    </body>
</html>
