<div class="flex">
 <div><a href="@ViewBag.SocialMediaLinks.Facebook">Facebook</a></div>

 <environment exclude="Development">
  <div><a href="@ViewBag.SocialMediaLinks.Instagram">Instagram</a></div>
 </environment>

 <div><a href="@ViewBag.SocialMediaLinks.Twitter">Twitter</a></div>

 <div><a href="@ViewBag.SocialMediaLinks.Youtube">Youtube</a></div>
</div>

