@model IEnumerable<CityWeather>
@{
 ViewBag.Title = "Weather";
}

<div class="margin-top-200 margin-left">
 <div class="flex">
  @foreach (CityWeather city in Model)
  {
   @await Component.InvokeAsync("City", new { city = city })
  }

 </div>

</div>

