<!DOCTYPE html>

<html>
<head>
 <meta name="viewport" content="width=device-width" />
 <title>@ViewBag.Title</title>
 <link href="~/Stylesheet.css" rel="stylesheet" />

 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
 <div class="container">
  <div class="navbar">
   <div class="navbar-brand">
       <img src="~/logo.png" width="30px" asp-append-version="true" />
   </div>
   <ul>
    <li>
     <a asp-controller="Persons" asp-action="Index">Persons</a>
     <a asp-controller="Countries" asp-action="UploadFromExcel">Upload Countries</a>
    </li>
   </ul>
  </div>

  <div class="page-content">
   @RenderBody()
  </div>
 </div>

 @RenderSection("scripts", required: false)
</body>
</html>
