@model CityWeather

<div class="box cursor-pointer w-30 @ViewBag.CityCssClass">
 <div class="flex-borderless">
  <div class="w-50">
   <h2>@Model.CityName</h2>
   <h4 class="text-dark-grey">@Model.DateAndTime.ToString("hh:mm tt")</h4>
   <a href="~/weather/@Model.CityUniqueCode" class="margin-top">Details</a>
  </div>
  <div class="w-50 border-left">
   <h1 class="margin-left">@Model.TemperatureFahrenheit <sup class="text-grey">&#8457</sup></h1>
  </div>
 </div>

</div>

