<!DOCTYPE html>

<html>
<head>
 <meta name="viewport" content="width=device-width" />
 <title>@ViewBag.Title</title>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

 <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
 <div class="container">
  <div class="page-content">
   <div class="margin-bottom">

    <div class="flex" id="top-bar-div">
     <div class="flex-1" id="app-title-div">
      <h1 class="app-title">
       <i class="fa-solid fa-money-bill-trend-up"></i>
       Stocks
      </h1>
     </div>

     <div class="flex-1">
      Login
     </div>
    </div>

   </div>

   @RenderBody()
  </div>
 </div>
</body>
</html>
