@using ViewsExample.Models

<!DOCTYPE html>
<html>
<head>
 <title>@ViewBag.appTitle</title>
 <meta charset="utf-8" />
 <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
 <div class="page-content">
  <h1>Welcome</h1>

  @foreach (Person person in ViewBag.people)
  {
   <div class="box float-left w-50">
    <h3>@person.Name</h3>
    <table class="table w-100">
     <tbody>
      <tr>
       <td>Gender</td>
       <td>@person.PersonGender</td>
      </tr>
      <tr>
       <td>Date of Birth</td>
       <td>@person.DateOfBirth?.ToString("MM/dd/yyyy")</td>
      </tr>
     </tbody>
    </table>
   </div>
  }
 </div>

</body>
</html>
